<div class="auth-card flex-col gap-1 text-center">
  <div class="mail-icon">✉️</div>

  <div class="pt-1 pb-1">
    <div class="h2-gras">Demande de récupération envoyée</div>
  </div>
  <div class="pb-2">
    <div class="text-small text-dark-2">
      Vérifiez votre email — vous devriez recevoir un lien de réinitialisation dans quelques minutes.
    </div>
  </div>

  <div class="spacer-p2"></div>

  <button class="btn btn-outline"
          hx-get="{{ routes.login() }}"
          hx-target="#content"
          hx-swap="innerHTML"
          hx-push-url="true">
    Retour au login
  </button>
</div>