<div>
  <div class="h2-gras">Changez votre mot de passe</div>
  <div class="text-small text-dark-2" style="margin-top:6px;">Saisissez votre nouveau mot de passe</div>
</div>

{% if let Some(err) = token_error %}
<div class="form-error text-center p-1">{{ err }}</div>
{% else %}

<div style="height: var(--p1);"></div>

<form hx-post="{{ routes.reset_password_form(reset_token) }}" hx-target="#content" hx-swap="innerHTML">
  <div class="form-group">
    <label class="form-label">Mot de passe</label>
    <input type="password" name="password"
           class="form-input{% if let Some(_) = password_error %} error{% endif %}"
           placeholder="••••••••">
    <div class="form-error">{% if let Some(err) = password_error %}{{ err }}{% endif %}</div>
  </div>
  <div class="form-group">
    <label class="form-label">Confirmer le mot de passe</label>
    <input type="password" name="password_confirm"
           class="form-input{% if let Some(_) = password_confirm_error %} error{% endif %}"
           placeholder="••••••••">
    <div class="form-error">{% if let Some(err) = password_confirm_error %}{{ err }}{% endif %}</div>
  </div>

  <div style="height: var(--p05);"></div>
  <button type="submit" class="btn btn-primary">Changer mon mot de passe</button>
</form>

{% endif %}

<div style="height: var(--p1);"></div>
<button hx-get="{{ routes.login() }}"
        hx-target="#content"
        hx-push-url="true"
        hx-swap="innerHTML"
        class="btn btn-outline">
  Retour
</button>