ENV=
DATABASE__URL=
DATABASE__HOST=
DATABASE__PORT=
DATABASE__USER=
DATABASE__PWD=
DATABASE__NAME=
DATABASE__MAX_CONNECTIONS=
SERVER__HOST=
SERVER__PORT=
SQLX_OFFLINE=
RESEND_API_KEY=
EMAIL__FROM=
EMAIL__API_KEY=
EMAIL__FROM_NAME=
HOST_DOMAIN=
