.create-card   {
  width : 100%;
  overflow: scroll;
  max-height: 800px;
}
.create-header { background: linear-gradient(135deg, #629584 0%, var(--main-blue) 100%); }

.col-label { font-size: var(--text-small); font-weight: 500; color: var(--dark-1); margin-bottom: var(--p1); }