.widget-tester-layout {
    display: flex;
    flex-direction: column;
    gap: var(--p2);
    padding: var(--p2);
}

.test-roster-picker {
    display: flex;
    flex-direction: column;
    gap: var(--p1);
    max-width: 900px;
}

.form-btn {
    max-width: 300px;
    border: 1px solid var(--dark-4);
    text-align: center;
    padding: var(--p1);
}

.form-header { font-size: var(--h3); font-weight: 700; }