
<div class="menu-bar">
  <div class="menu-bar-inner">
    <div class="menu-left">
      <div class="menu-logo"
           hx-trigger="click"
           hx-get="{{ routes.home() }}"
           hx-target="#app-content"
           hx-select="#app-content"
           hx-swap="innerHTML"
           hx-push-url="true"
      >
        <img id="menu-logo" hx-preserve src="/static/img/logo-simple-small.png" alt="Logo">
        <span class="menu-logo-text">{{ space_name.as_deref().unwrap_or("") }}</span>
      </div>
    </div>
    <div class="menu-right">
      <a class="menu-item" href="/auth/logout">Déconnexion</a>
      <div class="menu-account" title="Mon compte">👤</div>
    </div>
  </div>
  <div class="sub-menu-placeholder">
      {% if let Some(sid) = space_id %}
      <div class="left-menu">
          <div class="sub-menu-btn{% if self.competitions_active() %} active{% endif %}"
               hx-get="{{ competition_routes.all_competitions(sid) }}"
               hx-target="#app-content"
               hx-select="#app-content"
               hx-swap="innerHTML"
               hx-push-url="true">Les Compétitions</div>
          <div class="sub-menu-btn">Saisir un Match</div>
          <div class="sub-menu-btn{% if self.create_team_active() %} active{% endif %}"
               hx-get="{{ team_routes.draft_team(sid) }}"
               hx-target="#app-content"
               hx-select="#app-content"
               hx-swap="innerHTML"
               hx-push-url="true">Créer une équipe</div>
          <div class="sub-menu-btn{% if self.my_teams_active() %} active{% endif %}"
               hx-get="{{ team_routes.my_teams(sid) }}"
               hx-target="#app-content"
               hx-select="#app-content"
               hx-swap="innerHTML"
               hx-push-url="true">Mes équipes</div>
      </div>
      <div class="right-menu">
          <div class="sub-menu-btn">Administration</div>
      </div>
      </div>
    {% endif %}
  </div>
</div>
