<div class="sidebar-top"></div>
<div class="league-btn league-btn-active" title="Ligue de Condate">
  <img src="https://res.cloudinary.com/bloodbowlclub-com/image/upload/c_scale,w_64/v1662411087/leagues/BB-Namur.png" alt="Ligue de Condate" width="128" height="128">
</div>
<div class="league-btn" title="Korrigane Cup">
    <img src="https://res.cloudinary.com/bloodbowlclub-com/image/upload/c_scale,w_64/v1662411087/leagues/BB-Namur.png" alt="Ligue de Condate" width="128" height="128">
</div>
<div class="league-btn" title="Ligue du Midi">LM</div>
<div class="league-btn"
     hx-trigger="click"
     hx-get="/app/space/create"
     hx-target="#app-content"
     hx-swap="innerHTML"
     hx-push-url="true"
     style="background: var(--dark-2); font-size: 24px;"
     title="Ajouter une ligue">+</div>