<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kreek</title>
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/pages/widget-tester-layout.css">
  <link rel="stylesheet" href="/static/css/components/tom-select.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.4.1/dist/css/tom-select.min.css">
  <script src="/static/js/htmx.min.js"></script>
  <script src="/static/js/htmx-ext-json-enc.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.1/dist/js/tom-select.complete.min.js"></script>
  <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/static/css/components/kreek-select.css">
  <script src="/static/js/kreek-select.js"></script>
</head>
<body>
  <div class="widget-tester-layout">
          {% block content %}{% endblock %}
  </div>
</body>
</html>
